@media (min-width: 960px) {
    .uk-width-1-12 { width: 8.333%; }
    .uk-width-2-12 { width: 16.666%; }
    .uk-width-3-12 { width: 25%; }
    .uk-width-4-12 { width: 33.333%; }
    .uk-width-5-12 { width: 41.666%; }
    .uk-width-6-12 { width: 50%; }
    .uk-width-7-12 { width: 58.333%; }
    .uk-width-8-12 { width: 66.666%; }
    .uk-width-9-12 { width: 75%; }
    .uk-width-10-12 { width: 83.333%; }
    .uk-width-11-12 { width: 91.666%; }
    .uk-width-12-12 { width: 100%; }
}