.registration input {
	color:#0C85B2;
	width:90%;
	height:18px;
}

.registration .h1-heading {
	color:#fff;
	font-family:sourcesanspro-semibold;
	font-size:30px;
	line-height:26px;
	float:left;
	margin:0;
	padding:16px 0 16px 20px;
}

.registration .control-group1 {
	float:left;
	width:30%;
}

.registration .control-label {
	font-weight:bold;
	margin-bottom:8px;
	font-size:14px;
}

.registration .control-label label {
	font-weight:bold;
	font-size:14px;
}

.registration .control-group2 {
	float:left;
	width:20%;
}

.registration .control-group3 {
	float:left;
}

.registration .dependents .control-sub-label {
	float:left;
	width:280px;
	color:#0c85b2;
}

.registration .dependents .control-sub-label label {
	font-size:12px;
	font-weight:bold;
	margin-top:8px;
}

.registration .dependents .controls {
	float:left;
	width:300px;
}

.registration .dependents input {
	width:100px;
	text-align:center;
}

.registration #jform_country_code {
	width:99px;
	margin-right:5px;
}

.registration #jform_contact_no {
	width:190px;
}

.registration #jform_dob {
	width:94px;
	height:29px;
}

.profile .h1-heading {
	background:url(../images/icon/header-profile.png) no-repeat;
	color:#fff;
	font-family:sourcesanspro-semibold;
	font-size:30px;
	line-height:30px;
	float:left;
	padding-left:40px;
	margin:16px 0 16px 20px;
}

.profile #users-profile-core .right {
	float:right;
	width:50%;
}

.profile #users-profile-core .label1 {
	float:left;
	width:150px;
	font-weight:bold;
	font-size:14px;
	margin-bottom:20px;
}

.profile #users-profile-core .label2 {
	float:left;
	width:200px;
	font-weight:bold;
	font-size:14px;
	margin-bottom:20px;
}

.profile #users-profile-core .field {
	float:left;
	width:200px;
	min-height: 18px;
	color:#0c85b2;
	font-size:14px;
	margin-bottom:20px;
}

#member-registration .control-groups-left {
	float:left;
	width:28%;
	border-right:1px solid #ccc;
	margin-right:10px;
	padding-right:8px;
	box-sizing:border-box;
}

#member-registration .control-groups-left input {
	width:93%;
}

#member-registration .control-groups-right {
	float:left;
	width:50%;
	margin-left:10px;
}

#member-registration .control-groups-left .control-group,#member-registration .control-groups-right .control-group {
	margin-bottom:0;
}

#member-registration .control-groups-left .control-group1,#member-registration .control-groups-right .control-group1 {
	width:50%;
}

#member-registration .control-groups-left .control-group2,#member-registration .control-groups-right .control-group2 {
	width:33.33%;
}

.pending-quo .h1-heading {
	background:url(../images/icon/header-white-quotation.png) no-repeat;
	color:#fff;
	font-family:sourcesanspro-semibold;
	font-size:30px;
	line-height:30px;
	float:left;
	padding-left:40px;
	margin:16px 0 16px 20px;
}

.dashboard .h1-heading {
	background:url(../images/icon/ico-dashboard-menu.png) no-repeat;
	color:#fff;
	font-family:sourcesanspro-semibold;
	font-size:30px;
	line-height:30px;
	float:left;
	padding-left:40px;
	margin:16px 0 16px 20px;
}

.customer-ins {
	font-family:sourcesanspro-semibold;
	font-size:25px;
	color:#004058;
	padding-left:40px;
	padding-top:5px;
	margin-bottom:5px;
}

.customer-insurance-life {
	background:url(../images/icon/ico-dblue-life.png) no-repeat;
	height:35px;
}

.customer-insurance-ci {
	background:url(../images/icon/ico-dblue-ci.png) no-repeat;
	height:35px;
}

.customer-insurance-hospital {
	background:url(../images/icon/ico-dblue-hospital.png) no-repeat;
	height:35px;
}

.customer-insurance-travel {
	background:url(../images/icon/ico-dblue-travel.png) no-repeat;
	height:35px;
}

.customer-insurance-motor {
	background:url(../images/icon/ico-dblue-motor.png) no-repeat;
	height:35px;
}

.customer-insurance-maid {
	background:url(../images/icon/ico-dblue-domestic.png) no-repeat;
	height:45px;
}

.pending-quo .item-quotation {
	float:left;
	width:250px;
	font-size:13px;
	margin:13px 10px 13px 0;
}

.pending-quo .item-quotation-action {
	float:left;
	width:450px;
	font-size:13px;
	margin:13px 10px 13px 0;
}

.customer-dashboard-menu .image-title {
	padding-left:5px;
}

ul.menuproduct-subs li {
	float:left;
	margin-right:13px;
}

ul.menuproduct-subs.product-mainpage li {
	margin-right:20px;
}

ul.menuproduct-subs li:last-child {
	margin-right:0;
}

ul.menuproduct-subs li a.pro-life-insurance {
	background:url(../images/products/btn-product1.png) no-repeat;
	width:142px;
	height:142px;
	text-indent:-9999px;
}

ul.menuproduct-subs li a.pro-cii {
	background:url(../images/products/btn-product2.png) no-repeat;
	width:142px;
	height:142px;
	text-indent:-9999px;
}

ul.menuproduct-subs li a.pro-hospitali {
	background:url(../images/products/btn-product3.png) no-repeat;
	width:142px;
	height:142px;
	text-indent:-9999px;
}

ul.menuproduct-subs li a.pro-traveli {
	background:url(../images/products/btn-product4.png) no-repeat;
	width:142px;
	height:142px;
	text-indent:-9999px;
}

ul.menuproduct-subs li a.pro-motori {
	background:url(../images/products/btn-product5.png) no-repeat;
	width:142px;
	height:142px;
	text-indent:-9999px;
}

ul.menuproduct-subs li a.pro-dhi {
	background:url(../images/products/btn-product6.png) no-repeat;
	width:142px;
	height:142px;
	text-indent:-9999px;
}

ul.menuproduct-subs li.current a.pro-life-insurance,ul.menuproduct-subs li a.pro-life-insurance:hover {
	background:url(../images/products/btn-product1-selected.png) no-repeat;
	width:142px;
	height:142px;
}

ul.menuproduct-subs li.current a.pro-cii,ul.menuproduct-subs li a.pro-cii:hover {
	background:url(../images/products/btn-product2-selected.png) no-repeat;
	width:142px;
	height:142px;
}

ul.menuproduct-subs li.current a.pro-hospitali,ul.menuproduct-subs li a.pro-hospitali:hover {
	background:url(../images/products/btn-product3-selected.png) no-repeat;
	width:142px;
	height:142px;
}

ul.menuproduct-subs li.current a.pro-traveli,ul.menuproduct-subs li a.pro-traveli:hover {
	background:url(../images/products/btn-product4-selected.png) no-repeat;
	width:142px;
	height:142px;
}

ul.menuproduct-subs li.current a.pro-motori,ul.menuproduct-subs li a.pro-motori:hover {
	background:url(../images/products/btn-product5-selected.png) no-repeat;
	width:142px;
	height:142px;
}

ul.menuproduct-subs li.current a.pro-dhi,ul.menuproduct-subs li a.pro-dhi:hover {
	background:url(../images/products/btn-product6-selected.png) no-repeat;
	width:142px;
	height:142px;
}

ul.menufaq-page li a.faq-claims {
	background:url(../images/faqs/btn-faq1.png) no-repeat;
	width:183px;
	height:48px;
	text-indent:-9999px;
}

ul.menufaq-page li a.faq-cit {
	background:url(../images/faqs/btn-faq2.png) no-repeat;
	width:183px;
	height:86px;
	text-indent:-9999px;
}

ul.menufaq-page li a.faq-iap {
	background:url(../images/faqs/btn-faq3.png) no-repeat;
	width:183px;
	height:86px;
	text-indent:-9999px;
}

ul.menufaq-page li a.faq-other {
	background:url(../images/faqs/btn-faq4.png) no-repeat;
	width:183px;
	height:47px;
	text-indent:-9999px;
}

ul.menufaq-page li a.faq-partner {
	background:url(../images/faqs/btn-faq5.png) no-repeat;
	width:183px;
	height:61px;
	text-indent:-9999px;
}


ul.menufaq-page li a.faq-question{
	background:url(../images/faqs/btn-question.png) no-repeat;
	width:182px;
	height:89px;
	text-indent:-9999px;
}

ul.menufaq-page li a.faq-question:hover, ul.menufaq-page li.current a.faq-question, ul.menufaq-page li.active a.faq-question{
	background:url(../images/faqs/btn-question-ro.png) no-repeat;
}

ul.menufaq-page li a.faq-terms{
	background:url(../images/faqs/btn-terms.png) no-repeat;
	width:182px;
	height:69px;
	text-indent:-9999px;
}

ul.menufaq-page li a.faq-terms:hover, ul.menufaq-page li.current a.faq-terms, ul.menufaq-page li.active a.faq-terms {
	background:url(../images/faqs/btn-terms-ro.png) no-repeat;
}

ul.menufaq-page li a.faq-why{
	background:url(../images/faqs/btn-why.png) no-repeat;
	width:182px;
	height:69px;
	text-indent:-9999px;
}

ul.menufaq-page li a.faq-why:hover, ul.menufaq-page li.current a.faq-why, ul.menufaq-page li.active a.faq-why{
	background:url(../images/faqs/btn-why-ro.png) no-repeat;
}

ul.menufaq-page li.current a.faq-claims:hover, ul.menufaq-page li.current a.faq-claims, ul.menufaq-page li.active a.faq-claims {
	background:url(../images/faqs/btn-faq1-selected.png) no-repeat;
	width:183px;
	height:48px;
}

ul.menufaq-page li.current a.faq-cit:hover, ul.menufaq-page li.current a.faq-cit,ul.menufaq-page li.active a.faq-cit {
	background:url(../images/faqs/btn-faq2-selected.png) no-repeat;
	width:183px;
	height:86px;
}

ul.menufaq-page li.current a.faq-iap:hover, ul.menufaq-page li.current a.faq-iap,ul.menufaq-page li.active a.faq-iap{
	background:url(../images/faqs/btn-faq3-selected.png) no-repeat;
	width:183px;
	height:86px;
}

ul.menufaq-page li.current a.faq-other:hover, ul.menufaq-page li.current a.faq-other, ul.menufaq-page li.active a.faq-other{
	background:url(../images/faqs/btn-faq4-selected.png) no-repeat;
	width:183px;
	height:47px;
}

ul.menufaq-page li.current a.faq-partner:hover, ul.menufaq-page li.current a.faq-partner, ul.menufaq-page li.active a.faq-partner{
	background:url(../images/faqs/btn-faq5-selected.png) no-repeat;
	width:183px;
	height:61px;
}

ul.menufaq-page li a.faq-claims:hover {
	background:url(../images/faqs/btn-faq1-hover.png) no-repeat;
	width:183px;
	height:48px;
}

ul.menufaq-page li a.faq-cit:hover {
	background:url(../images/faqs/btn-faq2-hover.png) no-repeat;
	width:183px;
	height:86px;
}

ul.menufaq-page li a.faq-iap:hover {
	background:url(../images/faqs/btn-faq3-hover.png) no-repeat;
	width:183px;
	height:86px;
}

ul.menufaq-page li a.faq-other:hover {
	background:url(../images/faqs/btn-faq4-hover.png) no-repeat;
	width:183px;
	height:47px;
}

ul.menufaq-page li a.faq-partner:hover {
	background:url(../images/faqs/btn-faq5-hover.png) no-repeat;
	width:183px;
	height:61px;
}

ul.menufaq-page li a.tk-uli {
	background:url(../images/insurancetoolkit/btn-toolkit1.png) no-repeat;
	width:183px;
	height:68px;
	text-indent:-9999px;
}

ul.menufaq-page li a.tk-ugi {
	background:url(../images/insurancetoolkit/btn-toolkit2.png) no-repeat;
	width:183px;
	height:68px;
	text-indent:-9999px;
}

ul.menufaq-page li a.tk-lic {
	background:url(../images/insurancetoolkit/btn-toolkit3.png) no-repeat;
	width:183px;
	height:68px;
	text-indent:-9999px;
}

ul.menufaq-page li a.tk-checklist {
	background:url(../images/insurancetoolkit/btn-toolkit4.png) no-repeat;
	width:183px;
	height:69px;
	text-indent:-9999px;
}

ul.menufaq-page li a.tk-whatcaniget {
	background:url(../images/insurancetoolkit/btn-toolkit5.png) no-repeat;
	width:183px;
	height:68px;
	text-indent:-9999px;
}

ul.menufaq-page li.current a.tk-uli,ul.menufaq-page li.current a.tk-uli:hover {
	background:url(../images/insurancetoolkit/btn-toolkit1-selected.png) no-repeat;
	width:183px;
	height:68px;
}

ul.menufaq-page li.current a.tk-ugi,ul.menufaq-page li.current a.tk-ugi:hover {
	background:url(../images/insurancetoolkit/btn-toolkit2-selected.png) no-repeat;
	width:183px;
	height:68px;
}

ul.menufaq-page li.current a.tk-lic:hover, ul.menufaq-page li.current a.tk-lic,ul.menufaq-page li.active a.tk-lic,ul.menufaq-page li.active a.tk-lic:hover {
	background:url(../images/insurancetoolkit/btn-toolkit3-selected.png) no-repeat;
	width:183px;
	height:68px;
}

ul.menufaq-page li.current a.tk-checklist:hover, ul.menufaq-page li.current a.tk-checklist,ul.menufaq-page li.active a.tk-checklist,ul.menufaq-page li.active a.tk-checklist:hover {
	background:url(../images/insurancetoolkit/btn-toolkit4-selected.png) no-repeat;
	width:183px;
	height:69px;
}

ul.menufaq-page li.current a.tk-whatcaniget:hover, ul.menufaq-page li.current a.tk-whatcaniget, ul.menufaq-page li.active a.tk-whatcaniget, ul.menufaq-page li.active a.tk-whatcaniget:hover{
	background:url(../images/insurancetoolkit/btn-toolkit5-selected.png) no-repeat;
	width:183px;
	height:68px;
}

ul.menufaq-page li a.tk-uli:hover {
	background:url(../images/insurancetoolkit/btn-toolkit1-hover.png) no-repeat;
	width:183px;
	height:68px;
}

ul.menufaq-page li a.tk-ugi:hover {
	background:url(../images/insurancetoolkit/btn-toolkit2-hover.png) no-repeat;
	width:183px;
	height:68px;
}

ul.menufaq-page li a.tk-lic:hover {
	background:url(../images/insurancetoolkit/btn-toolkit3-hover.png) no-repeat;
	width:183px;
	height:68px;
}

ul.menufaq-page li a.tk-checklist:hover {
	background:url(../images/insurancetoolkit/btn-toolkit4-hover.png) no-repeat;
	width:183px;
	height:69px;
}

ul.menufaq-page li a.tk-whatcaniget:hover {
	background:url(../images/insurancetoolkit/btn-toolkit5-hover.png) no-repeat;
	width:183px;
	height:68px;
}

.search h1 {
	background:url(../images/header-top.png) repeat-x;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	color:#fff;
	font-family:sourcesanspro-semibold;
	font-size:30px;
	margin:0;
	padding:20px;
}

.search #searchForm {
	padding:25px 25px 10px;
}

.search .search-results {
	margin:0 25px;
}

.search .result-title {
	font-weight:bold;
}

.search .result-text {
	margin:0 0 10px;
}

.search .result-created {
	display:none;
}

#jform_upload_financial_company-lbl {
	line-height:40px;
}

.insurediylife-form #load-ownership-of-company .input-file {
	width:200px;
	background-color:#f0f0f0;
	margin:0 20px;
}

.insurediylife-form .box-sized-input .controls input[type=text] {
	width:100%!important;
	height:40px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.container1 {
	border:1px solid #ccc;
	border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	background:#fff;
}

.container1 .c-header1 {
	background:url(../images/header2.png) repeat-x;
	height:44px;
	color:#004058;
	font-weight:bold;
	font-family:arial;
	line-height:44px;
	font-size:12pt;
	padding:0 15px;
}

.container1 .c-seperator {
	float:left;
	height:118px;
	margin-top:15px;
	border-right:solid 1px #e4e4e4;
	width:1%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.container1 .c-subheader1 span {
	background-color:#0c8ebf;
	color:#FFF;
	font-weight:bold;
	font-size:12pt;
	padding:3px 6px;
}

.container1 ul.c-icon-list li {
	float:left;
	margin-right:15px;
	text-align:center;
}

.message-list{
	border-bottom: 1px solid #e4e4e4;
}

.message-date {
	float:left;
	width:12.98%;
	font-weight:bold;
	padding:10px 0;
}

.message-body {
	float:left;
	width:87.02%;
	padding:10px 10px;
}

.message-seperator {
	width:95%;
	border-bottom:solid 1px #e4e4e4;
	margin:auto;
}

.message-container {
	padding:10px 0;
}

.rewardpoint-container {
	margin:15px;
}

.rewardpoint-header {
	color:#FFF;
	background:#04b6de;
	text-align:center;
	font-weight:bold;
	font-size:17px;
	padding:10px 10px 5px;
}

.rewardpoint-body {
	text-align:center;
	background-color:#def9ff;
	font-weight:bold;
	font-size:25px;
	line-height:25px;
	padding:20px;
}

.portfolio .h1-heading {
	background:url(../images/icon/icon-general-insurance.png) no-repeat;
	color:#fff;
	font-family:sourcesanspro-semibold;
	font-size:30px;
	line-height:30px;
	float:left;
	padding-left:40px;
	margin:16px 0 16px 20px;
}

.portfolio .item-insurer {
	float:left;
	width:94px;
	font-size:13px;
	margin:13px 10px 13px 0;
}

.portfolio .item-cover-amt {
	float:left;
	width:145px;
	font-size:13px;
	margin:13px 10px 13px 0;
}

.portfolio .item-status {
	float:left;
	width:90px;
	font-size:13px;
	margin:13px 10px 13px 0;
}

.portfolio .item-action {
	float:left;
	width:85px;
	font-size:13px;
	margin:13px 10px 13px 0;
}

.policy-form input[type=text],.policy-form input[type=email] {
	height:39px;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin-bottom:0;
}

.policy-form select {
	width:100%;
	height:40px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.policy-form .control-label label {
	font-weight:bold;
	font-size:11pt;
}

.policy-form .input-append,
.policy-form .input-prepend{
	margin-bottom: 0;
}

a.big-icons {
	width:142px;
	height:142px;
	text-indent:-9999px;
	display:block;
	margin-bottom:10px;
}

a.big-icons.domestic-helper {
	background:url(../images/products/btn-product6.png) no-repeat;
}

a.big-icons.motor {
	background:url(../images/products/btn-product5.png) no-repeat;
}

a.big-icons.travel {
	background:url(../images/products/btn-product4.png) no-repeat;
}

a.big-icons.domestic-helper.inactive {
	background:url(../images/products/btn-product6-selected-na.png) no-repeat;
}

a.big-icons.motor.inactive {
	background:url(../images/products/btn-product5-selected-na.png) no-repeat;
}

a.big-icons.travel.inactive {
	background:url(../images/products/btn-product4-selected-na.png) no-repeat;
}

.registration,.profile,.pending-quo,.dashboard,.portfolio,.dashboard {
	background:#f2f2f2;
	margin-top:5px;
}

.registration .header-top,.profile .header-top,.pending-quo .header-top,.dashboard .header-top,.portfolio .header-top {
	background:url(../images/header-top.png) repeat-x;
	width:100%;
	height:62px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.registration .top-module,.profile .top-module {
	height:310px;
	width:100%;
	background:#fff;
}

.registration fieldset,.profile #users-profile-core {
	margin:20px 0;
}

.registration .control-group3a,.profile #users-profile-core .left {
	float:left;
	width:50%;
}

.registration .dependents,.policy-form .control-group {
	margin-bottom:20px;
}

.registration #jform_monthly_salary,.registration #jform_occupation {
	width:95%;
}

.profile input,.pending-quo input,.portfolio input {
	color:#0C85B2;
}

.profile .dashboard-menu,.customer-dashboard-menu {
	float:right;
}

.profile .dashboard-menu ul li,.customer-dashboard-menu ul li {
	display:inline-block;
}

.profile .dashboard-menu ul li:hover,.customer-dashboard-menu ul li:hover {
	background:url(../images/header-hover-bg.png) repeat-x bottom left;
	height:62px;
}

.profile .dashboard-menu a,.customer-dashboard-menu a {
	background:url(../images/header-separator-bg.png) no-repeat top left;
	font-family:sourcesansprobold;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	padding:18px 13px;
}

.pending-quo .header2bg,.portfolio .header2bg {
	background:url(../images/header2.png) repeat-x;
	height:44px;
	color:#004058;
	font-weight:bold;
	font-family:arial;
	padding:0 15px;
}

.pending-quo .even,.portfolio .even {
	background:#f4fcff;
	border-bottom:1px solid #ccc;
	color:#8d8d8d;
	padding:0 15px;
}

.pending-quo .odd,.portfolio .odd {
	background:#fff;
	border-bottom:1px solid #ccc;
	color:#8d8d8d;
	padding:0 15px;
}

.pending-quo .no-items,.portfolio .no-items {
	margin:13px 10px 13px 0;
}

.pending-quo .item-chxbox,.portfolio .item-chxbox {
	float:left;
	width:20px;
	font-size:13px;
	margin:13px 10px 13px 0;
}

.pending-quo .item-quotation-date,.portfolio .item-policy {
	float:left;
	width:120px;
	font-size:13px;
	margin:13px 10px 13px 0;
}

ul.menuproduct-subs,ul.menufaq-page {
	margin:0;
}

ul.menuproduct-subs li:before,ul.menufaq-page li:before {
	content:"";
}

ul.menufaq-page li,.container1 .c-subheader1,.policy-form .control-label {
	margin-bottom:10px;
}

.portfolio .item-start-date,.portfolio .item-end-date {
	float:left;
	width:124px;
	font-size:13px;
	margin:13px 10px 13px 0;
}

.acymailing_module-subscribe-mailinglist1{}
.acymailing_module-subscribe-mailinglist1 table.acymailing_form{margin:0;width:400px;}
.acymailing_module-subscribe-mailinglist1 .acysubbuttons input.btn-primary{padding:5px 25px;}