.insurediyci-form::-webkit-input-placeholder /* WebKit browsers */ ,
.insurediyci-form:-moz-placeholder  /* Mozilla Firefox 4 to 18 */,
.insurediyci-form::-moz-placeholder /* Mozilla Firefox 19+ */ ,
.insurediyci-form:-ms-input-placeholder /* Internet Explorer 10+ */ { color:#0C85B2;font-weight:bold;}

.insurediyci-form{background-color: #f2f2f2;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;border: 1px solid rgba(0,0,0,0.15);-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.05);-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.05);box-shadow: 0px 0px 6px rgba(0,0,0,0.05);position: relative;}
.insurediyci-form  .h1-heading{margin:0;color:#fff;font-family:sourcesanspro-semibold;font-size:34px;line-height:26px;float:left;padding:16px 0 16px 16px;}
.insurediyci-form  .calculator{float:right;padding:7px 10px 7px 0;}

.insurediyci-form .insurediy-ci-data label{font-weight:bold;font-family:arial;font-size:14px;}
.insurediyci-form .insurediy-ci-data label.error{font-weight:normal;color:#ff0000;}

.insurediyci-form .insurediy-ci-agreement label{color:#666666;}
.insurediyci-form .insurediy-ci-agreement label.error{color:#ff0000}
/*.insurediyci-form .insurediy-ci-agreement label.hasTooltip.required{float:right;width:95%;}*/
.insurediyci-form select{width:100%;height:40px;}
.insurediyci-form input{color:#0c85b2;font-family:arial;font-size:13px;}
.insurediyci-form input[type="text"],
.insurediyci-form input[type="email"]{height:29px;}
.insurediyci-form textarea{color:#0c85b2;font-family:arial;font-size:13px;}


.insurediyci-form .control-group2{float:left;width:50%;}
.insurediyci-form .control-group4{float:left;width:25%;}
.insurediyci-form .control-group-contact-detail-firstname{}
.insurediyci-form .control-group-contact-detail-lastname{}
.insurediyci-form .control-group-contact-detail-room-no{float:left;width:20%;}
.insurediyci-form .control-group-contact-detail-floor-no{float:left;width:20%;}
.insurediyci-form .control-group-contact-detail-block-no{float:left;width:20%;}
.insurediyci-form .control-group-contact-detail-building-name{float:left;width:30%;}
.insurediyci-form .control-group-contact-detail-street-name{float:left;width:30%;}
.insurediyci-form .control-group-contact-detail-contact-no{}
.insurediyci-form .control-group-contact-detail-district-name{float:left;width:30%;}
.insurediyci-form .control-group-contact-detail-postalcode{float:left;width:30%;}
.insurediyci-form .control-group-contact-detail-identity-no{}
.insurediyci-form .control-group-contact-detail-country{float:left;width:30%;}
.insurediyci-form .control-group-contact-detail-employer-name{float:left;width:40%;}
.insurediyci-form .control-group-contact-detail-employer-address{float:left;width:30%;}
.insurediyci-form .control-group-contact-detail-employer-job-nature{float:left;width:40%;}
.insurediyci-form .control-group-contact-detail-physician-name{float:left;width:40%;}
.insurediyci-form .control-group-contact-detail-physician-address{float:left;width:30%;}
.insurediyci-form .control-group-contact-detail-physician-result{float:left;width:40%;}
.insurediyci-form .control-group-contact-detail-physician-reason{float:left;width:30%;}
.insurediyci-form .control-group-contact-detail-insurer-name{float:left;width:40%;}
.insurediyci-form .control-group-contact-detail-policy-type{float:left;width:30%;}
.insurediyci-form .control-group-contact-detail-sum-insured{float:left;width:40%;}
.insurediyci-form .control-group-contact-detail-issuance-date{float:left;width:30%;}
.insurediyci-form .control-group-contact-detail-bank-bank-no{float:left;width:40%;}
.insurediyci-form .control-group-contact-detail-bank-branch-no{float:left;width:30%;}
.insurediyci-form .control-group-contact-detail-bank-acct-no{float:left;width:30%;}
.insurediyci-form .control-group-contact-detail-bank-acct-holder-name{float:left;width:40%;}
.insurediyci-form .control-group-contact-detail-bank-id-type{float:left;width:30%;}
.insurediyci-form .control-group-contact-detail-bank-id-no{float:left;width:30%;}

.insurediyci-form .control-label{margin-bottom:10px;width:95%;}
.insurediyci-form .controls{width:95%;position:relative;}
.insurediyci-form .controls input[type="text"],
.insurediyci-form .controls input[type="email"]{width:94%;padding:4px 12px;}

.insurediyci-form .controls #jform_dob{width:52%;border-right:none;}
.insurediyci-form .controls #jform_dob_img{background:none;background-color:#fff;border-left:0;border-color:#ccc;}

.insurediyci-form #jform_weight_amt,
.insurediyci-form #jform_height_amt{width:200px;direction:rtl;}
.insurediyci-form #jform_weight_amt_chzn .chzn-search input,
.insurediyci-form #jform_height_amt_chzn .chzn-search input{width: 86%!important;}

.insurediyci-form .chzn-container .chzn-drop{
	z-index: 4;
}

/* InsureDIY Steps - Header */
.insurediyci-form .ico-insurediyci{background:url('../images/icon/icon-insurediy-life.png') no-repeat 16px 10px;}
.insurediyci-form .ico-insurediyci-details{background:url('../images/icon/icon-details.png') no-repeat 21px 12px;}
.insurediyci-form .ico-insurediyci-contact-details{background:url('../images/icon/icon-contact-details.png') no-repeat 21px 12px;}
.insurediyci-form .ico-insurediy-confirm-order{background:url('../images/icon/icon-insurediy-confirm-order.png') no-repeat 21px 15px;}
.insurediyci-form .ico-insurediy-final-steps{background:url('../images/icon/icon-insurediy-final-steps.png') no-repeat 21px 15px;}
/*******************************/

.insurediyci-form .insurediyci-details-edit{background:url('../images/icon/icon-edit.png') no-repeat;width:78px;height:26px;float:right;margin-top:15px;margin-right:25px;}
.insurediyci-form .insurediy-detail-save-quotation{float:right;background:url('../images/save-your-quotation-box.png') repeat-x;width:60%;height:82px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;margin-top:15px;margin-right:15px;}

/* Life Cover Options */
.insurediyci-form .insurediy-ci-cover-options{/*border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;*/padding:5px 15px;margin-bottom:0;background-color:#FFF;border-bottom: 1px solid rgba(0,0,0,0.15);}
.insurediyci-form .insurediy-ci-cover-options .title{font-family:sourcesansprobold;font-size:18px;color:#0c85b2}
.insurediyci-form .insurediy-ci-cover-options input[type="text"]{height:20px; background:#f0f0f0}
.insurediyci-form .insurediy-ci-cover-options #insurediyci-cvrlgth1,
.insurediyci-form .insurediy-ci-cover-options #insurediyci-cvrlgth2{float:left;width:150px;}
.insurediyci-form .insurediy-ci-cover-options .chzn-container-single .chzn-single {background:#f0f0f0;width:150px;}
.insurediyci-form .insurediy-ci-cover-options .chzn-container-single .chzn-single span {}
.insurediyci-form .insurediy-ci-cover-options .chzn-container-single .chzn-single div {}
.insurediyci-form .insurediy-ci-cover-options .chzn-container-single .chzn-drop{width:162px !important;}


.insurediyci-form .insurediy-ci-detail-questions-forms{background:#fff;border:1px solid #ccc;font-size:14px;}
.insurediyci-form .insurediy-ci-detail-questions-forms .column1{padding:15px 2px 10px 15px;font-weight:bold;vertical-align:top;}
.insurediyci-form .insurediy-ci-detail-questions-forms .column2{padding:15px 15px 10px 0;vertical-align:top;width:80%}
.insurediyci-form .insurediy-ci-detail-questions-forms .column2 .description{color:#666666;line-height:20px;display:block;margin:10px 0;}
.insurediyci-form .insurediy-ci-detail-questions-forms .column3{border-left:1px solid #ccc;padding:15px 15px 10px 15px;vertical-align:top;width:20%;font-weight:bold;}

.insurediy-ci-data #insurediyci-cvrlgth2 .chzn-container-single .chzn-single {width:430px;}
.insurediy-ci-data #insurediyci-cvrlgth2 .chzn-container-single .chzn-drop{width:442px !important;}
.insurediy-ci-data .chzn-search input{width:94% !important;height: 20px;}

.insurediyci-form .help-quote{background:url('../images/help-quote.png') no-repeat;width:16px;height:16px;padding-left:17px;cursor:pointer;}

.insurediyci-form .header2bg{background:url('../images/header2.png') repeat-x; width:100%;height:44px;font-family:sourcesanspro-semibold;font-size:18px;color:#004058;}
.insurediyci-form .ico-question-mark{background:url('../images/icon/header-question-mark.png') no-repeat 15px 8px;height:44px;padding:10px 0 0 55px;}
.insurediyci-form .ico-quotation-mark{background:url('../images/icon/header-quotation-mark.png') no-repeat 0 8px;height:25px;padding:10px;font-family:sourcesanspro-semibold;font-size:18px;color:#004058;max-width: 176px;margin: auto;}
.insurediyci-form .length-of-cover-icon{background:url('../images/icon/ico-lengthofcover.png') no-repeat;width:264px; height:32px;float:left;margin-left:10px;}
.insurediyci-form .ico-cart{background:url('../images/icon/ico-cart.png') no-repeat 15px 8px;height:25px;padding:10px 0 20px 50px;}
.insurediyci-form .ico-contact{background:url('../images/icon/ico-contact.png') no-repeat 15px 8px;height:25px;padding:10px 0 20px 50px;}
.insurediyci-form .ico-declarations{background:url('../images/icon/icon-important.png') no-repeat 15px 8px;height:25px;padding:10px 0 20px 50px;}
.insurediyci-form .ico-identity-card{background:url('../images/icon/ico-identity-card.png') no-repeat 15px 8px;height:25px;padding:10px 0 20px 55px;}
.insurediyci-form .ico-location-gps{background:url('../images/icon/ico-location-gps.png') no-repeat 20px 8px;height:25px;padding:10px 0 20px 55px;}
.insurediyci-form .ico-or-label{background:url('../images/icon/ico-or-label.png') no-repeat;width:32px;height:20px;left:50%;top:-10px;position:absolute;}

/*.insurediyci-form table.insurediyci-table-quotations{background:#fff;border:1px solid #ccc;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;margin-bottom:40px;}*/
.insurediyci-form table.insurediyci-table-quotations .checkbox{width:33px;height:33px;padding: 0 5px 0 0;background: url('../images/icon/ico-purchase-checkbox.png') no-repeat;display: block;float:none;margin:0 auto;cursor:pointer;}
/*.insurediyci-form table.insurediyci-table-quotations .column1{font-weight:bold;font-size:14px;font-family:arial;border-right:1px solid #ccc;border-bottom:1px solid #ccc;color:#2f2f2f;}
.insurediyci-form table.insurediyci-table-quotations .column-n{border-right:1px solid #ccc;border-bottom:1px solid #ccc;color:#4e4e4e;vertical-align:top;}
.insurediyci-form table.insurediyci-table-quotations td{padding:10px 20px;}*/

.insurediy-form-content{background-color: #f2f2f2;padding: 20px;margin-top: 60px;}
.insurediyci-form .header-top{background:url('../images/header-top.png') repeat-x;width:100%;height:62px;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;background-size: contain;
							  /*height:auto;*/ }
.insurediyci-form {margin-top:-26px;}
.insurediyci-form {}
.insurediyci-form{}

.insurediyci-form .header-top-wrapper{
	position: fixed;
	z-index: 5;
	/*width: 99.99999999%;*/
	width: 958px;
	margin-top: -1px;
}

.insurediyci-form .controls.input-padding input{padding-left:40px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;height: 39px;width: 354px;}

/* Contact Details */
.insurediyci-form .contact-details-fields .controls{
	width: 98%;
}
/* Log in or Register */
.insurediyci-form .insurediy-ci-log-in, .insurediyci-form .insurediy-ci-register{width: 45%;float: left;}
.insurediyci-form #login-form input{width: 390px;padding: 4px 8px;height: 27px;}
.insurediyci-form h2{font-size: 34px; color: #004058; margin-bottom: 25px;}
.insurediyci-form .mid-line{border-right: 1px solid #d8d8d8;height: 100px;margin-right: 50%;}
.insurediyci-form .or-btn,.insurediyci-form .or-btn:hover{cursor: default;padding: 4px;font-size: 14px!important;color: #FFF; }


@media (min-width: 768px){
	// non-phone

}

@media (min-width: 768px) and (max-width: 1200px) {
	//tablet

	.insurediyci-form .header-top-wrapper{
		position: absolute;
	}
	.insurediyci-form .header-top-wrapper{
		position: absolute;

	}
}

@media (max-width: 767px) {
	//phone

	.insurediyci-form .header-top-wrapper{
		position: absolute;
	}
	.insurediyci-form .header-top-wrapper{
		position: absolute;
	}
	.body .container{
		width: 960px;
	}
}
