/**
 * Stylesheet for Element: MultiSelect
 *
 * @package         NoNumber Framework
 * @version         14.2.6
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2014 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

div.nn_multiselect {
	margin-bottom: 0;
}
ul.nn_multiselect-ul,
ul.nn_multiselect-ul li {
	margin: 0;
	padding: 0;
}
ul.nn_multiselect-ul {
	margin-top: 8px;
}
ul.nn_multiselect-ul li {
	padding: 2px 10px 2px;
	list-style: none;
}
ul.nn_multiselect-ul span.nn_multiselect-toggle {
	line-height: 18px;
}
ul.nn_multiselect-ul label {
	font-size: 1em;
	margin-left: 8px;
}
ul.nn_multiselect-ul label.nav-header {
	padding: 0;
}
ul.nn_multiselect-ul input {
	margin: 2px 0 0 8px;
}
ul.nn_multiselect-ul .nn_multiselect-menu {
	margin: 0 6px;
}
ul.nn_multiselect-ul ul.dropdown-menu {
	margin: 0;
}
ul.nn_multiselect-ul ul.dropdown-menu li {
	padding: 0 5px;
	border: none;
}

