
.dj-main {
	padding: 0 !important;
	margin: 0 !important;
	list-style: none;
	height: 35px;
	background: #fff url(../images/three_0.gif) repeat-x;
	position: relative;
	z-index: 500;
	font-family: arial, verdana, sans-serif;
	width: auto;
}

.dj-main li.dj-up {
	position: relative;
	display: block;
	float: left;
	padding: 0 !important;
	margin: 0 !important;
}

.dj-main li a.dj-up_a {
	display: block;
	float: left;
	height: 35px;
	line-height: 33px;
	color: #ccc;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	padding: 0 0 0 15px;
	cursor: pointer;
	background: url(../images/three_0.gif);
}

.dj-main li a.dj-up_a span {
	float: left;
	display: block;
	padding: 0 15px 0 0;
	height: 35px;
	background: url(../images/three_0.gif) right top no-repeat;
}

.dj-main li a.dj-up_a span.dj-drop {
	padding: 0 25px 0 0;
	background: url(../images/three_0a.gif) no-repeat right top;
}

.dj-main li.hover a.dj-up_a, .dj-main li.active a.dj-up_a {
	color: #fff;
	background: url(../images/three_1.gif) no-repeat;
}

.dj-main li.hover a.dj-up_a span, .dj-main li.active a.dj-up_a span {
	background: url(../images/three_1.gif) no-repeat right top;
}

.dj-main li.hover a.dj-up_a span.dj-drop, .dj-main li.active a.dj-up_a span.dj-drop {
	background: url(../images/three_1a.gif) no-repeat right top;
	padding-bottom: 3px;
}

.dj-main li.separator > a {
	cursor: default;
}

.dj-main li a.dj-up_a span span.image-title {
	background: none;
	padding: 0 0 0 5px;
	display: inline;
	float: none;
	height: auto;
}
.dj-main img {
	border: 0;
	margin: 0;
	vertical-align: middle;
}

/* Default list styling */
.dj-main li.hover {
	position: relative;
	z-index: 200;
}

.dj-main li.hover ul.dj-submenu {
	left: 1px;
	top: 35px;
	background: #50b5d0;
	margin: 0 !important;
	padding: 3px !important;
	border: 1px solid #0b4d97;
	width: 190px;
	height: auto;
	z-index: 300;
}

.dj-main li.hover ul.dj-submenu li {
	display: block;
	height: auto;
	position: relative;
	float: left;
	width: 190px;
	font-weight: normal;
}

.dj-main li.hover ul.dj-submenu li a {
	display: block;
	font-size: 11px;
	height: auto;
	width: 183px;
	line-height: 18px;
	color: #000;
	text-decoration: none;
	border: 1px solid #50b5d0;
	padding-left: 5px;
}

.dj-main li ul.dj-submenu li a.dj-more {
	background: #50b5d0 url(../images/arrow.gif) 180px 6px no-repeat;
}

.dj-main li.hover ul.dj-submenu li a:hover, .dj-main li ul.dj-submenu li a.active, .dj-main li ul.dj-submenu li li a.active, .dj-main li ul.dj-submenu li li li a.active {
	background: #3f96a9;
	color: #fff;
	border-color: #fff;
}

.dj-main li.hover ul.dj-submenu li a.dj-more:hover {
	background: #3f96a9 url(../images/arrow_over.gif) 180px 6px no-repeat;
	color: #fff;
}

.dj-main li.hover ul.dj-submenu li a.dj-more-active {
	background: #3f96a9 url(../images/arrow_over.gif) 180px 6px no-repeat;
	color: #fff;
}

.dj-main li.hover ul.dj-submenu li a.dj-more-active:hover {
	border-color: #fff;
	background: #3f96a9 url(../images/arrow_over.gif) 180px 6px no-repeat;
}

.dj-main li.hover li.hover ul, .dj-main li.hover li.hover li.hover ul, .dj-main li.hover li.hover li.hover li.hover ul, .dj-main li.hover li.hover li.hover li.hover li.hover ul {
	left: 190px;
	top: -4px;
	background: #50b5d0;
	padding: 3px;
	border: 1px solid #0b4d97;
	white-space: nowrap;
	width: 190px;
	z-index: 400;
	height: auto;
}

.dj-main ul, .dj-main li.hover ul ul, .dj-main li.hover li.hover ul ul, .dj-main li.hover li.hover li.hover ul ul, .dj-main li.hover li.hover li.hover li.hover ul ul {
	position: absolute;
	left: -9999px;
	top: -9999px;
	width: 0;
	height: 0;
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
}

.dj-main li.hover li.hover a.dj-more, .dj-main li.hover li.hover li.hover a.dj-more, .dj-main li.hover li.hover li.hover li.hover a.dj-more, .dj-main li.hover li.hover li.hover li.hover li.hover a.dj-more {
	background: #3f96a9 url(../images/arrow_over.gif) 180px 6px no-repeat;
	color: #fff;
	border-color: #fff;
}

.dj-main li.hover li.hover li a.dj-more, .dj-main li.hover li.hover li.hover li a.dj-more, .dj-main li.hover li.hover li.hover li.hover li a.dj-more {
	background: #50b5d0 url(../images/arrow.gif) 180px 6px no-repeat;
	color: #000;
	border-color: #50b5d0;
}
