/**
* @version 1.0.0
* @package RSSEO! 1.0.0
* @copyright (C) 2009-2012 www.rsjoomla.com
* @license GPL, http://www.gnu.org/licenses/gpl-2.0.html
*/

.rsseo_title{
	font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
}

.rsseo_links_small {
	font-size: 11px;
}